services:
  server:
    build:
      context: .
      target: dev
      dockerfile: apps/server/Dockerfile
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:asdfasdf@db:5432/postgres
    volumes:
      - ./:/app
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
  db:
    build:
      dockerfile: apps/server/db/Dockerfile
    image: postgres
    restart: always
    shm_size: 128mb
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./apps/server/db/docker-initdb.sh:/docker-entrypoint-initdb.d/docker-initdb.sh
      - ./apps/server/db:/db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=asdfasdf
    expose:
      - 5432
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
  node-modules:
