services:
  server:
    build:
      context: .
      target: dev
      dockerfile: Dockerfile.server
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:asdfasdf@db:5432/postgres
      TEST_DATABASE_URL: postgresql://postgres:asdfasdf@test_db:5432/postgres
      JOB_FUNCTION_URL: http://job_worker:8080/2015-03-31/functions/function/invocations
    volumes:
      - ./:/app
      - server-node-modules:/app/node_modules
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
  job_worker:
    build:
      context: .
      target: dev
      dockerfile: Dockerfile.job-worker
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:asdfasdf@db:5432/postgres
    volumes:
      - ./:/app
      - job-worker-node-modules:/app/node_modules
    ports:
      - 9000:8080
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - path: .env
        required: false
  db:
    build:
      dockerfile: db/Dockerfile
    restart: always
    shm_size: 128mb
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/scripts/docker-initdb.sh:/docker-entrypoint-initdb.d/docker-initdb.sh
      - ./db:/db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=asdfasdf
    expose:
      - 5432
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  test_db:
    image: postgres:14
    restart: always
    shm_size: 128mb
    user: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=asdfasdf
    expose:
      - 5432
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  docs:
    build:
      context: .
      dockerfile: docs/Dockerfile
    restart: always
    volumes:
      - ./:/app
    ports:
      - 4000:3000
volumes:
  db-data:
  job-worker-node-modules:
  server-node-modules:
