services:
  server:
    build:
      context: .
      target: dev
      dockerfile: Dockerfile
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:asdfasdf@db:5432/postgres
      TEST_DATABASE_URL: postgresql://postgres:asdfasdf@test_db:5432/postgres
    volumes:
      - ./:/app
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
  db:
    build:
      dockerfile: db/Dockerfile
    image: postgres
    restart: always
    shm_size: 128mb
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/scripts/docker-initdb.sh:/docker-entrypoint-initdb.d/docker-initdb.sh
      - ./db:/db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=asdfasdf
    expose:
      - 5432
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  test_db:
    build:
      dockerfile: db/Dockerfile
    image: postgres
    restart: always
    shm_size: 128mb
    user: postgres
    volumes:
      - test-db-data:/var/lib/postgresql/data
      - ./db/scripts/docker-initdb-test.sh:/docker-entrypoint-initdb.d/docker-initdb.sh
      - ./db:/db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=asdfasdf
    expose:
      - 5432
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
  test-db-data:
  node-modules:
