@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-noto-sans);
    --heading-height: 4rem;
    --read-nav-h: 4rem;
    --translate-nav-h: 4rem;
  }

  .locale-en {
    --font-sans: var(--font-noto-sans);
  }
  .locale-ar {
    --font-sans: var(--font-noto-sans-arabic), var(--font-noto-sans);
  }
}

@layer components {
  .rich-text {
    @apply font-mixed;
  }
  .rich-text ol {
    @apply ps-7 list-decimal;
  }
  .rich-text ul {
    @apply ps-7 list-disc;
  }
  .ref {
    @apply text-blue-800 dark:text-green-400 font-bold hover:underline cursor-pointer;
  }
}

@layer utilities {
  .font-mixed {
    unicode-bidi: plaintext;
  }
}
