name: deploy

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::188245254368:role/github-role
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.login-ecr.outputs.registry }}/globalbibletools-platform
          tags: |
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: apps/server/Dockerfile
          target: runner
          push: true
          platforms: linux/amd64
          provenance: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          secrets: |
            "database-url=${{ secrets.DATABASE_URL }}"  

      - name: Docker meta
        id: meta-import-worker
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.login-ecr.outputs.registry }}/globalbibletools-import-worker
          tags: |
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - name: Build and push import worker
        uses: docker/build-push-action@v6
        with:
          target: import-worker
          push: true
          platforms: linux/amd64
          provenance: false
          tags: ${{ steps.meta-import-worker.outputs.tags }}
          labels: ${{ steps.meta-import-worker.outputs.labels }}
          secrets: |
            "database-url=${{ secrets.DATABASE_URL }}"  

      - name: Docker meta
        id: meta-github-export-worker
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.login-ecr.outputs.registry }}/globalbibletools-github-export-worker
          tags: |
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - name: Build and push GitHub export worker
        uses: docker/build-push-action@v6
        with:
          target: github-export-worker
          push: true
          platforms: linux/amd64
          provenance: false
          tags: ${{ steps.meta-github-export-worker.outputs.tags }}
          labels: ${{ steps.meta-github-export-worker.outputs.labels }}
          secrets: |
            "database-url=${{ secrets.DATABASE_URL }}"  

