name: test

on:
  workflow_call:
  push:
    branches-ignore:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:18
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        volumes:
          - ./db/scripts/docker-initdb-test.sh:/docker-entrypoint-initdb.d/docker-initdb.sh
          - ./db:/db
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Check Types
        run: npm run check-types

      - name: Tests
        run: npm run test
        env:
          TEST_DATABASE_URL: posgresql://postgres:postgres@localhost:5432/postgres
